configuration {
    display-drun: "Application";
    drun-display-format: "{icon} {name}";
    modi: "run,drun,usbdisks,capture";
    show-icons: true;
    icon-theme: "Colloid-Orange-Dark";
    kb-row-up: "Up,Alt+k,Ctrl+p";
    kb-row-down: "Down,Alt+j,Ctrl+n";
    font: "Inter SemiBold 12";
}

@theme "themes/default"
