let mapleader=" "

nnoremap <Space> <Nop>


set clipboard=unnamedplus

" Set relative number
set relativenumber

" Sync IJ bookmarks with vim mark
set ideamarks

" === PROJECT TREE ===

set nerdtree

" tree open
nnoremap <leader>to :NERDTreeOpen<CR>

" tree quit
nnoremap <leader>tq :NERDTreeClose<CR>

" tree toggle
nnoremap <leader>tt :NERDTreeToggle<CR>

nnoremap <leader>tf :NERDTreeFocus<CR>

" === BASIC motions ===

" save all (this is a habit more that useful mapping)
nnoremap <leader>wa :action SaveAll<CR>

" yank all document
nnoremap <leader>ya ggvG$y

" === Editor navigation ===

" move to left pane
nnoremap <C-h> <C-w>h

" move to down pane
nnoremap <C-j> <C-w>j

" move to upper pane
nnoremap <C-k> <C-w>k

" move to right pane
nnoremap <C-l> <C-w>l

" === BUFFERS ===

" buffers quit others
nnoremap <leader>bqo :action CloseAllEditorsButActive<CR>

" === WINDOWS ===

" windows quit all
nnoremap <leader>wqa :action HideAllWindows<CR>

" === SEARCH ===

" search class
nnoremap <leader>sc :action GotoClass<CR>

" search file
nnoremap <leader>sf :action GotoFile<CR>

" search symbol
nnoremap <leader>ss :action GotoSymol<CR>

" search action
nnoremap <leader>sa :action GotoAction<CR> 

" search recent files
nnoremap <leader>srf :action RecentFiles<CR>

" === GO TO ===

" go to declaration
nnoremap gd :action GotoDeclaration<CR>

" go to implementation
nnoremap gi :action GotoImplementation<CR>

" go to reference element
nnoremap gr :action FindUsages<CR>

" === REFACTOR ===

" refactor menu
vnoremap <leader>rm :action RefactoringMenu<CR>
nnoremap <leader>rm :action RefactoringMenu<CR>

" refactor rename
nnoremap <leader>rr :action RenameElement<CR>

" refactor extract method
vnoremap <leader>rem :action ExtractMethod<CR>

" refactor inline
nnoremap <leader>ri :action Inline<CR>

" === CODE ===

" code implement methods
nnoremap <leader>cim :action ImplementMethods<CR>

" code format
nnoremap <leader>cf :action ReformatCode<CR>

" code optimize imports
nnoremap <leader>coi :action OptimizeImports<CR>

" === ERROR NAVIGATION ===

" next diagnostic
nnoremap ]d :action GotoNextError<CR>

" previous diagnostic
nnoremap [d :action GotoPreviousError<CR>

" diagnostic description
nnoremap <leader>d :action ShowErrorDescription<CR>

" === DOCUMENTATION ===

" Quick doc popup
nnoremap K :action QuickJavaDoc<CR>

" === RUN ===

" run selected
nnoremap <leader>rs :action Run<CR>

" run target (under the cursor)
nnoremap <leader>rt :action RunClass<CR>

" === DEBUG ===

" debug breakpoint toggle
nnoremap <leader>dbt :action ToggleLineBreakpoint<CR>

" debug breakpoint focus
nnoremap <leader>dbf :action Debugger.FocusOnBreakpoint<CR>

" === VCS ===

" vcs update
nnoremap <leader>vu :action Vcs.UpdateProject<CR>

" vcs changes
nnoremap <leader>vc :action Vcs.ChangesView<CR>

" vsc blame
nnoremap <leader>vb :action Annotate<CR>

" === NOTIFICATIONS ===

" notifications quit all
nnoremap <leader>nqa :action MarkNotificationsAsRead<CR>

" === MISC ===

" trigger code completion
inoremap <C-Space> :action CodeCompletion<CR>

" distraction-free mode toggle
nnoremap <leader>dmt :action ToggleDistractionFreeMode<CR>
