* {
    font-family: "Mononoki Nerd Font";
    font-size: 16px;
}

window#waybar {
    background-color: rgba(43, 48, 59, 0.5);
    border-bottom: 3px solid rgba(100, 114, 125, 0.5);
    color: #fcfcfc;
    transition-property: background-color;
    transition-duration: .5s;
}

button {
    border: none;
}

button:hover {
    background: inherit;
}

#workspaces button {
    padding: 5px;
    margin: 5px;
    background-color: transparent;
    color: #fcfcfc;
}

#workspaces button:hover,
#workspaces button.active {
    background: #78dce8;
    color: #000;
}

#workspaces button.focused {
    background: #78dce8;
}

.modules-left {
    margin-left: 20px;
}

.modules-right {
    margin-right: 20px;
}
