* {
    font-family: "Cantarell Medium";
    font-size: 16px;
}

window#waybar {
    background-color: rgba(43, 48, 59, 1);
    border-bottom: 1px solid rgba(100, 114, 125, 0.5);
    color: #fcfcfc;
}

button {
    border: none;
}

button:hover {
    background: inherit;
}

#workspaces button {
    padding: 3px 5px;
    margin: 5px 5px 5px 0;
    background-color: transparent;
    color: #fcfcfc;
    border-radius: 0;
}

#workspaces button:hover,
#workspaces button.focused,
#workspaces button.active {
    background: #78dce8;
    color: #000;
    font-weight: normal;
}

.modules-left {
    margin-left: 15px;
}

.modules-right {
    margin-right: 15px;
}

#network,
#battery {
    margin: 5px 0 5px 5px;
}

#battery.warning {
    color: #ffd866
}

#battery.critical {
    color: #ff6188;
}

